body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #f8e1e7, #e0f0ff);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: #af84af;
    padding: 25px;
    border-radius: 20px;
    width: 700px;
}

.header{
    background-color: #a8679a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.content{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.content img {
    width: 150px;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}

.Biodata{
    width: 10px;
    flex: 1;
}

.row{
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
}

.label{
    width: 170px;
    font-weight: bold;
}

.titik{
    width: 20px;
    text-align: center;
}

.value {
    flex: 1;
}

footer{
    background: rgb(239, 194, 230);
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.profile-section{
    display: flex;
    gap: 30px;
}

.info{
    width: 100%;
}

.header-info{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-back{
    padding: 6px 12px;
    border-radius: 8px;
    border: none;
    background-color: rgb(123, 25, 108);
    cursor: pointer;
}

.btn-back:hover{
    background-color: #7b366e;
}

.footer-box {
    display: flex;
    justify-content: space-between; /* kiri - tengah - kanan */
    align-items: center;
    background-color: linear-gradient(to right, #d8b4fe, #c084fc); /* sesuaikan sama punyamu */
    padding: 20px;
    border-radius: 20px;
}

.footer-text {
    text-align: center;
    flex: 1;
}

.btn-back, .btn-next {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: #f8dff8;
    color: #5b2167;
    cursor: pointer;
}

.btn-back:hover, .btn-next:hover {
    background-color: #ddd;
}